[project]
name = "smithers"
version = "0.1.0"
description = "Project Template Generator"
requires-python = ">=3.11"

dependencies = []

[project.optional-dependencies]
dev = [
    "mypy",
    "pytest",
    "ruff"
]

[project.scripts]
smithers = "smithers.cli:main"
